.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 35vmin;
}

#cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    align-items: center;
}

.stats p {
    margin: 0 10px;
}
